

.metadata/.plugins/org.eclipse.core.resources/.projects/QC_PDL/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/QC_PDL/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/QC_PDL/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/QC_PDL/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/QC_PDL/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1016305977.index
.metadata/.plugins/org.eclipse.jdt.core/1031953160.index
.metadata/.plugins/org.eclipse.jdt.core/1056425288.index
.metadata/.plugins/org.eclipse.jdt.core/1097276826.index
.metadata/.plugins/org.eclipse.jdt.core/1100596956.index
.metadata/.plugins/org.eclipse.jdt.core/1232789102.index
.metadata/.plugins/org.eclipse.jdt.core/1242203471.index
.metadata/.plugins/org.eclipse.jdt.core/1242275909.index
.metadata/.plugins/org.eclipse.jdt.core/1262459654.index
.metadata/.plugins/org.eclipse.jdt.core/136304938.index
.metadata/.plugins/org.eclipse.jdt.core/1389177833.index
.metadata/.plugins/org.eclipse.jdt.core/1394775668.index
.metadata/.plugins/org.eclipse.jdt.core/1405470639.index
.metadata/.plugins/org.eclipse.jdt.core/1472652652.index
.metadata/.plugins/org.eclipse.jdt.core/1600211900.index
.metadata/.plugins/org.eclipse.jdt.core/1609452800.index
.metadata/.plugins/org.eclipse.jdt.core/1809021268.index
.metadata/.plugins/org.eclipse.jdt.core/1831137454.index
.metadata/.plugins/org.eclipse.jdt.core/1957650760.index
.metadata/.plugins/org.eclipse.jdt.core/2096803116.index
.metadata/.plugins/org.eclipse.jdt.core/2104119800.index
.metadata/.plugins/org.eclipse.jdt.core/2153107308.index
.metadata/.plugins/org.eclipse.jdt.core/2185342955.index
.metadata/.plugins/org.eclipse.jdt.core/2207104428.index
.metadata/.plugins/org.eclipse.jdt.core/2308795635.index
.metadata/.plugins/org.eclipse.jdt.core/2407634539.index
.metadata/.plugins/org.eclipse.jdt.core/2444570049.index
.metadata/.plugins/org.eclipse.jdt.core/2460425080.index
.metadata/.plugins/org.eclipse.jdt.core/2461894332.index
.metadata/.plugins/org.eclipse.jdt.core/2489305300.index
.metadata/.plugins/org.eclipse.jdt.core/2490042214.index
.metadata/.plugins/org.eclipse.jdt.core/2496277691.index
.metadata/.plugins/org.eclipse.jdt.core/2536313921.index
.metadata/.plugins/org.eclipse.jdt.core/2597958475.index
.metadata/.plugins/org.eclipse.jdt.core/2640960851.index
.metadata/.plugins/org.eclipse.jdt.core/2660907898.index
.metadata/.plugins/org.eclipse.jdt.core/2678030449.index
.metadata/.plugins/org.eclipse.jdt.core/2722624409.index
.metadata/.plugins/org.eclipse.jdt.core/2728515427.index
.metadata/.plugins/org.eclipse.jdt.core/2793052955.index
.metadata/.plugins/org.eclipse.jdt.core/281635741.index
.metadata/.plugins/org.eclipse.jdt.core/2858490519.index
.metadata/.plugins/org.eclipse.jdt.core/2940262654.index
.metadata/.plugins/org.eclipse.jdt.core/295541540.index
.metadata/.plugins/org.eclipse.jdt.core/2979210376.index
.metadata/.plugins/org.eclipse.jdt.core/3014307732.index
.metadata/.plugins/org.eclipse.jdt.core/3036662917.index
.metadata/.plugins/org.eclipse.jdt.core/3052217433.index
.metadata/.plugins/org.eclipse.jdt.core/3062786213.index
.metadata/.plugins/org.eclipse.jdt.core/3070618475.index
.metadata/.plugins/org.eclipse.jdt.core/3124605518.index
.metadata/.plugins/org.eclipse.jdt.core/3145978545.index
.metadata/.plugins/org.eclipse.jdt.core/3238331033.index
.metadata/.plugins/org.eclipse.jdt.core/3274923500.index
.metadata/.plugins/org.eclipse.jdt.core/3345581520.index
.metadata/.plugins/org.eclipse.jdt.core/3393367555.index
.metadata/.plugins/org.eclipse.jdt.core/3434454189.index
.metadata/.plugins/org.eclipse.jdt.core/3460769982.index
.metadata/.plugins/org.eclipse.jdt.core/3478993350.index
.metadata/.plugins/org.eclipse.jdt.core/3516644025.index
.metadata/.plugins/org.eclipse.jdt.core/3642664420.index
.metadata/.plugins/org.eclipse.jdt.core/3679303633.index
.metadata/.plugins/org.eclipse.jdt.core/3739372991.index
.metadata/.plugins/org.eclipse.jdt.core/3803094322.index
.metadata/.plugins/org.eclipse.jdt.core/3824958321.index
.metadata/.plugins/org.eclipse.jdt.core/3832798176.index
.metadata/.plugins/org.eclipse.jdt.core/3848728608.index
.metadata/.plugins/org.eclipse.jdt.core/3931966527.index
.metadata/.plugins/org.eclipse.jdt.core/3959123969.index
.metadata/.plugins/org.eclipse.jdt.core/3972764704.index
.metadata/.plugins/org.eclipse.jdt.core/3973709705.index
.metadata/.plugins/org.eclipse.jdt.core/4003828423.index
.metadata/.plugins/org.eclipse.jdt.core/4051484056.index
.metadata/.plugins/org.eclipse.jdt.core/4072950348.index
.metadata/.plugins/org.eclipse.jdt.core/4090286462.index
.metadata/.plugins/org.eclipse.jdt.core/4114527513.index
.metadata/.plugins/org.eclipse.jdt.core/4134622712.index
.metadata/.plugins/org.eclipse.jdt.core/4150943211.index
.metadata/.plugins/org.eclipse.jdt.core/501370855.index
.metadata/.plugins/org.eclipse.jdt.core/507615264.index
.metadata/.plugins/org.eclipse.jdt.core/560271253.index
.metadata/.plugins/org.eclipse.jdt.core/574410153.index
.metadata/.plugins/org.eclipse.jdt.core/621747915.index
.metadata/.plugins/org.eclipse.jdt.core/646427253.index
.metadata/.plugins/org.eclipse.jdt.core/656403980.index
.metadata/.plugins/org.eclipse.jdt.core/661371289.index
.metadata/.plugins/org.eclipse.jdt.core/701494425.index
.metadata/.plugins/org.eclipse.jdt.core/861158259.index
.metadata/.plugins/org.eclipse.jdt.core/922490841.index
.metadata/.plugins/org.eclipse.jdt.core/947762806.index
.metadata/.plugins/org.eclipse.jdt.core/955416516.index
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_6.cfs
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/QC_PDL/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/QC_PDL/.syncinfo.snap
*.index
.metadata/.plugins/org.eclipse.core.resources/.projects/QC_PDL/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/QC_PDL/.markers.snap
*.snap
*.index
*.dat
*.ser

*.cfs
*.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_7.cfs
*.cfs
.metadata/.plugins/org.eclipse.core.resources/.projects/QC_PDL/org.eclipse.egit.core/GitProjectData.properties
*.prefs
.metadata/.plugins/org.jboss.tools.usage/events/c892a349-a5bf-3959-8551-7040e2dfdfb9
.metadata/.plugins/org.eclipse.core.resources/.history/d5/606b59f11632001a1145afe98fa5ca07
*.png
*.index
.metadata/.plugins/org.eclipse.core.resources/.projects/QC_PDL/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
*.xmi
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/3040154504.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.jboss.tools.usage/events/a47ce096-03ca-3875-98fb-a371062409af
.metadata/.plugins/org.jboss.tools.usage/events/central-showOnStartup-N%2FA
.metadata/.plugins/org.jboss.tools.usage/events/jbt-installed-AS-RUNTIME
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.core.resources/.history/38/90d9d233e432001a1145afe98fa5ca07
.metadata/.plugins/org.eclipse.jdt.core/3040154504.index
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.log
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.log
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
*.log
