
*.log
.metadata/.plugins/org.eclipse.core.resources/.history/70/b07b9ea8e231001a1ac4c29b02f928a8
.metadata/.plugins/org.eclipse.core.resources/.history/7f/80854c0ee131001a1ac4c29b02f928a8
*.snap
.metadata/.plugins/org.eclipse.core.resources/.history/cf/402fe3d3e331001a1ac4c29b02f928a8
.metadata/.plugins/org.eclipse.core.resources/.history/d1/d00310e0e131001a1ac4c29b02f928a8
